<h1> All Books</h1>

<div class="container">
    <div class="row">
<% books.forEach(book => { %>

        <!-- Does the user is logged in -->
        <% if (currentUser) { %>
                  <!-- if yes, what are the product that user has -->
                    <% if (currentUser._id == book.userid) { %>
                    <div class="col-md-3 mt-3 mt-sm-3 card-container  my-box">
                        
                        <div class="card text-center product p-2 pt-4 border-0 h-100 rounded-0">
                        
                            <a href="/books/<%= book.id %>"> <img  class="img-responsive" src="data:image/<%=book.image.contentType%>;base64, 
                                <%=book.image.data.toString('base64')%>" style="height:280px;width:210px;"/></a>
                        <div class="card-body p-2 py-0 h-xs-440p">
                            <a href="/books/<%= book.id %>"><%= book.title %></a><br>
                            $<%= book.price %> 
                        </div>
                        <p class="btn w-100 px-2 text-center mx-auto">
                        <!-- Need to add Button -->
                        <button>Add</button>
                        
                        </div>
                    </div>
                <% } %>
       <% }else{ %>
           <div class="col-md-3 mt-3 mt-sm-3 card-container  my-box">
    
              <div class="card text-center product p-2 pt-4 border-0 h-100 rounded-0">
               
                <a href="/books/<%= book.id %>"> <img  class="img-responsive" src="data:image/<%=book.image.contentType%>;base64, 
                    <%=book.image.data.toString('base64')%>" style="height:280px;width:210px;"/></a>
              <div class="card-body p-2 py-0 h-xs-440p">
                <a href="/books/<%= book.id %>"><%= book.title %></a>
                $<%= book.price %> 
             </div>
             <p class="btn w-100 px-2 text-center mx-auto">
              <!-- Need to add Button -->
              <button>Add</button>
            </div>
        </div>
        <% } %>  
   <% }) %>
</div>
</div>