<a href="/books">Home Page</a>

<a href="/books/<%= book.id %>/edit ">Edit</a>
<form action="/books/<%=book.id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<div class="container">
        <h1> <%= book.title %>'s Details Page </h1>
        <img src="<%= book.image %>" style="height:500px;width:400px;"/>
        <h3><%=book.title%></h3>
        <h3>Authors</h3>
        <ul>
        <% book.authors.forEach(author => { %>
        <li><%= author.name %> <% }) %></li>
        </ul>
    </div>